{{ define "main"}}

<div class="text-404">
  <h1 class="error-emoji"></h1>
  <h2>
      404 ... sorry, you reached a hallucination-induced page,
      or your hallucinating
  </h2>
  <h3>
      Please <a href="https://www.reddit.com/r/learnmath/comments/s4rt0/why_does_multiplying_by_i_correspond_to_90_degree/">rotate your computer 90 degrees</a> and try again.
  </h3>
</div>
<script>
  const errorEmojiContainer = document.getElementsByClassName('error-emoji')[0];
  const emojiArray = [
    '\\(o_o)/', '(o^^)o', '(˚Δ˚)b', '(^-^*)', '(≥o≤)', '(^_^)b', '(·_·)',
    '(=\'X\'=)', '(>_<)', '(;-;)', '\\(^Д^)/', 'you found a shiny emoji! \\(^Д^)/',
    'pretend that this is an emoji '
  ];
  const errorEmoji = emojiArray[Math.floor(Math.random() * emojiArray.length)];
  errorEmojiContainer.appendChild(document.createTextNode(errorEmoji));

//hello, this is the buttons section
  function colorred() {
      var html = document.getElementsByTagName("html")[0]
      let reds = [
        ["ff", "00", "00"],
        ["c3", "00", "00"],
        ["ea", "33", "33"],
        ["fa", "63", "63"],
        ["bf", "10", "10"],
        ["a9", "0b", "0b"],
        ["ac", "38", "38"],
        ["c5", "40", "40"],
        ["b3", "0f", "0f"],
        ["d3", "3d", "18"],
        ["e8", "4d", "27"],
        ["f9", "37", "08"],
        // pls add more! (use htmlcolorcodes.com or something idk) - ilovapples
      ]
      let randcolor = reds[Math.floor(Math.random() * reds.length)];
      html.setAttribute("style", 'background-color: #'+randcolor[0]+randcolor[1]+randcolor[2])
  }
</script>

<button onclick="colorred()" style="">
  <p>
    Change the Background to one of various shades of red!
  </p>
</button>


<script>
function color() {
  var html = document.getElementsByTagName("html")[0]
  html.setAttribute("style", 'background-color: #'+(Math.round(Math.random()*105)).toString(16)+(Math.round(Math.random()*17)).toString(16)+(Math.round(Math.random()*155)).toString(16))
}
</script>

<button onclick="color()">
<p>
hello this is in progress
</p>
</button>
{{ end }}
